// *{
//     box-sizing: border-box;
// }
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
	font-size: 14px;
    line-height: 1.8;
    background: linear-gradient(135deg, rgb(50, 50, 50), black);
    background-color: rgb(43, 43, 43);
    font-weight: 400;
    font-family: "poppins", sans-serif;
    margin: 0px;
    // padding: 150px 0;
}
h1 {
    font-family: "axiforma";
    font-weight: 900;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px white;
    color: rgb(43, 43, 43);
    text-align: center;
    text-transform: uppercase;
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(245, 245, 245);
    text-align: center;
    font-size: 15px;
}
// form{
//      position: relative;
    
//      display: flex;
//      justify-content: center;
// }
.form-group {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    // .fn .mn {
    //     display: flex;
    //     width: 50%;
    // }
}
.form-input {
    z-index: 0;
    //@include transition(.3s ease);
    // display: flex;
    transition: 0.5s;
    border: none;
    border-bottom: 0.5px solid rgb(190, 190, 190);
    outline: none;
    border-radius: 5px;
    // margin-top: 20px;
    height: 50px;
    width: 100%;
    background-color: rgb(43, 43, 43);
    font-family: "Poppins", "helvetica", sans-serif;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    font-weight: bold;
    
    // min-width: 50%;
}
// .form-input:focus + .form-label, .form-input:not(:placeholder-shown) + .form-label{
//     transform: translateX(1em) scale(0.8);
// }
.form-submit {
    margin-bottom: 5px;
    width: 100%;
    background: rgb(68, 68, 68);
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    font-weight: bold;
    font-size: larger;
    border: none;
    border-radius: 5pt;
    transition: 0.5s;
    //@include border-radius(5px);
    cursor: pointer;
    &:hover {
        background: rgba($color: cyan, $alpha: 0.75);
    }
    a {
        color: white;
        text-decoration: none;
    }
}
.form-label {
    //@include transition(.25s ease);
    position: absolute;
    pointer-events: none;
    padding-left: 5px;
    font-size: 27px;
    color: rgba($color: rgb(255, 255, 255), $alpha: 0.75);
    text-transform: uppercase;
    transition: 0.5s;
    left: 0;
}
.form-group .form-input:valid ~ .form-label,
.form-group .form-input:focus ~ .form-label{
    // display: block;
    color: cyan;
    transform: translateY(-18px);
    font-size: 15px;
    padding: 0 6px;
    background: rgb(53, 53, 53);
    border-radius: 5px;
}

// .form-group:active .form-label{
//     position: relative;
//     color: cyan;
//     position: 0px -15px 0 0;    
//     font-size: 15px;
//     background: rgb(53, 53, 53);
//     border-radius: 5px;
// }
// .input-active {
//     //@include transition(.25s ease);
//     position: absolute;
//     padding-left: 5px;
//     text-transform: uppercase;
//     transition: 0.5s;
//     // left: 0;
//     // position: relative;
//     color: cyan;
//     position: 0px -15px 0 0;    
//     font-size: 15px;
//     background: rgb(53, 53, 53);
//     border-radius: 5px;
// }
// .form-group, .form-input:valid ~ .form-label,
// .form-group, .form-input:focus ~ .form-label{
//     color: red;
// }
// button {
//     width: 100%;
//     margin-bottom: 10px;
//     background: rgb(68, 68, 68);
//     color: rgb(255, 255, 255);
//     padding: 10px 20px;
//     font-weight: bold;
//     font-size: larger;
//     border: none;
//     border-radius: 5pt;
//     transition: 0.5s;
//     cursor: pointer;
//     &:hover {
//         background: rgba($color: cyan, $alpha: 0.75);
//     }
//     a {
//         color: white;
//         text-decoration: none;
//     }
// }